.contentInner {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-content-width);
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.footer {
  text-align: center;
  font-size: 0.6rem;
  color: #888;
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  .contentInner {
    padding-top: 60px;
    min-height: calc(100vh - 70px);
  }
  
  .footer {
    padding: 0.5rem 0;
  }
}