.container {
  display: grid;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  z-index: 1;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

.rightSection {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Media query for responsive layouts */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr !important; /* Force single column */
    grid-template-rows: 1fr;
  }
  
  .leftSection {
    height: 100vh;
    min-height: 100vh;
    padding: 2rem;
    background-color: transparent;
    color: white;
    position: relative;
  }
  
  .leftSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mobile-background-color);
    opacity: 0.7;
    z-index: -1;
  }
  
  .leftSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
  }
  
  .rightSection {
    display: none; /* Hide the right section on mobile */
  }
} 